{% extends "main.html" %}

{% block content %}

<main class="projects">
    <section class="hero-section text-center">
      <div class="container container--narrow">
        <div class="hero-section__box">
          <h2> <span>Loyihalarni</span> qidirib top</h2>
        </div>

        <div class="hero-section__search">
          <form class="form" action="{% url "projects" %}" method="GET">
            <div class="form__field">
              <label for="formInput#search">Loyihalarni qidirib top</label>
              <input class="input input--text" id="formInput#search" type="text" name="q"
                placeholder="Loyihalar nomi bilan qidir" />
            </div>

            <input class="btn btn--sub btn--lg" type="submit" value="Qidir" />
          </form>
        </div>
      </div>
    </section>
    <!-- Search Result: DevList -->
    <section class="projectsList">
      <div class="container">
        <div class="grid grid--three">
        {% for project in pagination %}
          <div class="column">
            <div class="card project">
              <a href="{% url "project" project.id %}" class="project">
                <img class="project__thumbnail" src="{{project.image.url}}" alt="project thumbnail" />
                <div class="card__body">
                  <h3 class="project__title">{{ project.title }}</h3>
                  <p><a class="project__author" href="profile.html">{{ project.user.user.first_name }} {{ project.user.user.last_name }}</a></p>
                  <p class="project--rating">
                    <span style="font-weight: bold;">Ovozlar nisbati: {{ project.vote_ratio }}%</span> ({{ project.vote_count }} Ovoz)
                  </p>
                  <div class="project__tags">
                    {% for tag in tags %}
                    <span class="tag tag--pill tag--main">
                      <small>{{ tag.name }}</small>
                    </span>
                    {% endfor %}
                  </div>
                </div>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

    <div class="pagination">
      <ul class="uk-pagination uk-flex-center">
        {% if pagination.has_previous %}
          <li><a href="?page={{ pagination.previous_page_number }}{% if query %}&q={{ query }}{% endif %}" class="btn">&#10094; Orqaga</a></li>
        {% else %}
            <li><a href="" class="btn btn--disabled">&#10094; Orqaga</a></li>
        {% endif %}
            {% for page in nums %}
                <li><a href="?page={{ forloop.counter }}{% if query %}&q={{ query }}{% endif %}" class="btn btn--sub">{{ forloop.counter }}</a></li>
            {% endfor %}
        {% if pagination.has_next %}
            <li><a href="?page={{ pagination.next_page_number }}{% if query %}&q={{ query }}{% endif %}" class="btn">Oldinga &#10095;</a></li>
        {% else %}
            <li><a href="" class="btn btn--disabled">Oldinga &#10095;</a></li>
        {% endif %}
      </ul>
      <br>
      <center><footer><b>{{ pagination }}</b></footer></center>
    </div>
  </main>

{% endblock content %}