{% extends 'main.html' %}
{% load static %}

{% block content %}

<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <a class="backButton" href="{% url "my_account" %}">Ortga<i class="im im-angle-left"></i></a>
            <br>

            <form class="form" action="{% url 'add_malaka' %}" method="POST">
                {% csrf_token %}
                {% for f in form %}
                <div class="form__field">
                    <label for="formInput#text">{{f.label}}</label>
                    {{f}}
                </div>
                {% endfor %}

                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Saqlash" />
            </form>
        </div>
    </div>
</main>
{% endblock %}