{% extends 'main.html' %}


{% block content %}
<main class="home">
    <section class="hero-section text-center">
        <div class="container container--narrow">
            <div class="hero-section__box">
                <h2>O'QUV MARKAZ<span> BITIRUVCHILARINI </span> QIDIRIB TOP</h2>

            </div>

            <div class="hero-section__search">
                <form class="form" action="{% url "profiles" %}" method="GET">
                    <div class="form__field">
                        <label for="formInput#search">Bitiruvchilarni top </label>
                        <input class="input input--text" id="formInput#search" type="text" name="q"
                            placeholder="Bitiruvchi ismi bilan top" />
                    </div>

                    <input class="btn btn--sub btn--lg" type="submit" value="Qidir" />
                </form>
            </div>
        </div>
    </section>

    <section class="devlist">
        <div class="container">
            <div class="grid grid--three">
                {% for user in pagination %}
                    <div class="column card">
                        <div class="dev">
                            <a href="{% url 'get_profile' user.id %}" class="card__body">
                                <div class="dev__profile">
                                    <img class="avatar avatar--md" src="{{user.image.url}}" alt="image" />
                                    <div class="dev__meta">
                                        <h3>{{user}}</h3>
                                        <h5>{{user.info}}</h5>
                                    </div>
                                </div>
                                <p class="dev__info">
                                    {{user.bio|slice:":150"}}
                                </p>
                                <div class="dev__skills">
                                    {% for skill in user.skill_set.all %}
                                    <span class="tag tag--pill tag--main">
                                        <small>{{skill}}</small>
                                    </span>
                                    {% endfor %}

                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}


            </div>
        </div>
    </section>

    <div class="pagination">
        <ul class="container">
                {% if pagination.has_previous %}
                    <li><a href="?page={{ pagination.previous_page_number }}{% if query %}&q={{ query }}{% endif %}" class="btn">&#10094; Orqaga</a></li>
                {% else %}
                    <li><a href="" class="btn btn--disabled">&#10094; Orqaga</a></li>
                {% endif %}
                    {% for page in nums %}
                        <li><a href="?page={{ forloop.counter }}{% if query %}&q={{ query }}{% endif %}" class="btn btn--sub">{{ forloop.counter }}</a></li>
                    {% endfor %}
                {% if pagination.has_next %}
                    <li><a href="?page={{ pagination.next_page_number }}{% if query %}&q={{ query }}{% endif %}" class="btn">Oldinga &#10095;</a></li>
                {% else %}
                    <li><a href="" class="btn btn--disabled">Oldinga &#10095;</a></li>
                {% endif %}
        </ul>
        <br>
        <center><footer><b>{{ pagination }}</b></footer></center>
    </div>
</main>
{% endblock %}